.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    
   }
  .header{
    grid-column: 1/3;
    grid-row: 0;
    padding: 20px 0;
  }
  nav {
    grid-column: 1/3;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
  }
  .links{
    grid-column: 2;
    grid-row: 3/4;
    padding: 20px 0;
    font-size: 30px;
  }
  .para1{
    padding: 20px 0;
    font-size: 25px;
  }
  .footer{
    grid-column: 1/3;
    padding: 20px 0;
  }
  #nav{
    background-color: rgb(0, 255, 200);
    font-size: 20px;
  }
